*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: center;
    color: white;
}

body{
    background-image: url('vaporwave.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
   font-family: monospace;
   margin: 10vh 0 5vh;
}